.carousel {
  overflow: hidden;
  z-index:0;
  color:#fff;
  background:url(store/gallery/bg-gallery.png) no-repeat 20px 0;
}
.carousel .carousel-inner {
  position:relative;
}
.carousel .carousel-inner ul {
  position:absolute;
  margin:0;
  padding:0;
  list-style:none;
}
.carousel .carousel-inner li {
  position:absolute;
  top:0;
  left:0;
  background:#f1f1f1;
}
.carousel .carousel-inner li.active {z-index:2;}
.carousel img {
  display:block;
}
.carousel .prev,
.carousel .next {
  text-indent:-9999px;
  overflow:hidden;
  z-index:3;
}
.gallery .next {
  right:56px;
  left:auto;
  background-position: 0 -43px;
}
.carousel .text-holder {
  background:url(store/gallery/bg-text02.png) no-repeat;
  width: 234px;
  height:98px;
  padding:45px 0 0 50px;
  position:absolute;
  right:1px;
  bottom:1px;
  font:bold 33px/40px 'Candrb', Arial, Helvetica, sans-serif;
  text-align:center;
}
.carousel .text-holder strong span {
  font-size:52px;
  display:block;
}