#slides {
	margin-bottom: 25px;
}
.slides_container {
	width: 720px;
	height: 287px;
}
.slides_container .slide_list {
	width: 720px;
	height: 287px;
	display: block;
	position: relative;
}
.text-holder {
	position: absolute;
	right: 0px;
	top: 0px;
	height: 271px;
	padding: 8px;
	width: 200px;
	background: #EFEFEF;
}
.pagination {
	margin: 6px 0 0;
	float: right;
	list-style: none;
}
.pagination li {
	float: left;
	margin: 0 1px;
}
.pagination li a {
	display: block;
	width: 13px;
	height: 0;
	padding-top: 13px;
	background-image: url(slides/pagination.png);
	background-position: 0 0;
	float: left;
	overflow: hidden;
}
.pagination li a:hover {
	background-position: 0 -26px;
}
.pagination li.current a, .pagination li.current a:hover {
	background-position: 0 -13px;
}